body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:330px;
  height:550px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:550px;
}
#u1 {
  position:absolute;
  left:2px;
  top:267px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:330px;
  height:550px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:550px;
}
#u3 {
  position:absolute;
  left:2px;
  top:267px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:116px;
  top:510px;
  width:118px;
  height:30px;
  opacity:0.600000023841858;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:129px;
  top:518px;
  width:15px;
  height:15px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u7 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:164px;
  top:514px;
  width:22px;
  height:22px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:200px;
  top:515px;
  width:20px;
  height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:20px;
  top:25px;
  width:25px;
  height:25px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:10px;
  top:10px;
  width:330px;
  height:550px;
  opacity:0.800000011920929;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:550px;
}
#u15 {
  position:absolute;
  left:2px;
  top:267px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:108px;
  top:170px;
  width:133px;
  height:150px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:150px;
}
#u17 {
  position:absolute;
  left:2px;
  top:67px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:148px;
  top:217px;
  width:50px;
  height:50px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:128px;
  top:229px;
  width:25px;
  height:25px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:194px;
  top:229px;
  width:25px;
  height:25px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:108px;
  top:277px;
  width:133px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:116px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:133px;
  height:1px;
}
#u25 {
  position:absolute;
  left:168px;
  top:281px;
  width:10px;
  height:42px;
}
#u25_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u25_end {
  position:absolute;
  left:-5px;
  top:25px;
  width:20px;
  height:18px;
}
#u25_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:42px;
}
#u26 {
  position:absolute;
  left:124px;
  top:294px;
  width:29px;
  height:20px;
  font-size:14px;
  color:#0000FF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:195px;
  top:294px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
