body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:330px;
  height:590px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:590px;
}
#u1 {
  position:absolute;
  left:2px;
  top:287px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:48px;
  width:330px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u3 {
  position:absolute;
  left:143px;
  top:22px;
  width:87px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:23px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:300px;
  top:24px;
  width:27px;
  height:18px;
  color:#CCCCCC;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:30px;
  top:260px;
  width:290px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:40px;
}
#u8 {
  position:absolute;
  left:2px;
  top:11px;
  width:286px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:121px;
  top:318px;
  width:45px;
  height:45px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u10 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:176px;
  top:313px;
  width:50px;
  height:50px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u12 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:30px;
  top:400px;
  width:290px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:9px;
  width:286px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:100px;
  top:80px;
  width:150px;
  height:150px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u16 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:115px;
  top:95px;
  width:120px;
  height:120px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u18 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
