body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:330px;
  height:590px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:590px;
}
#u1 {
  position:absolute;
  left:2px;
  top:287px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:330px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:11px;
  top:60px;
  width:329px;
  height:499px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:499px;
}
#u5 {
  position:absolute;
  left:2px;
  top:242px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:10px;
  width:330px;
  height:590px;
  opacity:0.800000011920929;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:590px;
}
#u7 {
  position:absolute;
  left:2px;
  top:287px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:10px;
  top:550px;
  width:330px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:10px;
  top:160px;
  width:330px;
  height:390px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:390px;
}
#u11 {
  position:absolute;
  left:2px;
  top:187px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:17px;
  top:566px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:303px;
  top:566px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
